
.container {
    margin: 0 auto;
    padding: 0;
    width: 1280px;

}

header{
    margin-bottom: 50px;
}
.logo {
    color: #000;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;


}

.blue-logo {
    color: #4BCAFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;

}


.nav-list {
    display: flex;
    justify-content: center;

    background: #35444F;
    height: 70px;
}

.nav-item-first  {

    border-left: solid 1px white;
    border-right: solid 1px white;
    text-decoration: none;
    list-style: none;
    padding: 26px 40px;

}
.nav-item-first a{
    display: block;

    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;


}
.nav-item {

    border-right: solid 1px white;
    text-decoration: none;
    list-style: none;
    padding: 26px 40px;
}
.nav-item a{
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;


}
.nav-item-hover {

    border-right: solid 1px white;
    list-style: none;
    padding: 26px 40px;

}
.nav-item-hover a{
    display: block;
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    font-style: normal;


}

.nav-item-hover:hover {
    background-color: #051a21;
}


.left-bar {

    height: 400px;
    width: 344px;
    border: 1px solid black;
}
.left-list{

 padding: 20px;
    list-style-type: none;

}
.left-menu{
    display: flex;
    flex-direction: column;

}
.left-list a {
    display: block;
    text-decoration: none;
    color: #495863;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
}

.nav-container {

    display: flex;
    justify-content: space-between;
}

.main-section {
   width: 885px;

}
.main-image-section {
    display: flex;
    justify-content: center;

    border: 1px solid black;
    padding: 75px;

}

.main-text{
    color: #2C2C2C;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.main-text-container{
    padding-bottom: 54px;
}



.footer-navigation {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    height: 70px;
}
.footer-list{
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-item a{
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;

}
.footer-item{
    list-style-type: none;
    padding: 20px;
}
.footer-copyright{

    color: #010101;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    padding: 20px;
}
